:root {
    --brucheumBlue: #74bac3;
    --brucheumBackgroundColor: #eeddbb; /* #f7eef7 #fef  #b081b1 #f8e8e8 */
    --brucheumContainerBackgroundColor: #fefefe; /*  #f8e8e8 */
    --brucheumBorderColor: #b200ff; /* #f1cff7;       carouselContainer  #b200ff; */
    --brucheumPurple: #79078f;
    --normalFont: 17px;
    --brucheumTitleColor: #7f2c8f;
    --brucheumSubTitleColor: #490157;
    --thumbnailBorderColor: #74bac3; /* hot pink #ff00dc   */
    --brucheumHeaderBarColor: #decd6f; /*#c79bbe*/
    --brucheumHeaderBoarderTop: #40767d 3px solid;
    --brucheumHeaderBackgroundColor: #74bac3;
    --brucheumHeaderBoarderBottom: #decd6f 11px solid;
    --brucheumHeaderSelectBackgroundColor: #74bac3;
}
body {
    background-color: var(--brucheumBackgroundColor);
    font-family: Verdana;
    box-sizing: border-box;
    margin-top: 100px !important;
    font-size: var(--normalFont);
}

.pageTitle1 {
    margin-top: 14px;
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer;
}

.caveImage {
    border: solid #444;
    background-image: url("/Images/caveStairsWide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.vMenu {
    padding-top: 33px;
    padding-left: 5px;
    margin-right: 50px;
}

.tabvMenuItem {
    padding: 13px;
}
    .tabvMenuItem img {
        width: 166px;
        height: 62px;
        cursor: pointer;
    }

.threeColumnLayout {
    width: 100%;
    display: flex;
    margin-top: -24px;
}

.threeColumnLayout #leftColumn {
    float: left;
    min-width: 7%;
}

.threeColumnLayout #middleColumn {
    float: left;
    width: 100%;
}

.threeColumnLayout #rightColumn {
    float: right;
    min-width: 7%;
}

.centeredDivShell {
    position: absolute;
    left: 50%;
    top: 300px;
}

.centeredDivInner {
    position: relative;
    left: -50%;
    min-height: 200px;
}

.clickable {
    cursor: pointer;
}
.inline {
    display: inline-block;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.displayHidden {
    display: none;
}

.flexContainer {
    display: flex;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.btnSpinner {
    margin-top: 66px;
}

.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}
.loadingGif {
    position: absolute;
    left: 120px;
    top: 155px;
    height: 50px;
    z-index: 10;
    display: none;
}

.btnSpinner {
    margin-top: 66px;
}
.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}

.roundendButton {
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    padding: 2px;
    color: #555;
    margin-bottom: 2px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.mediumAddContainer {
    position: absolute;
    right: 10px;
    top: 222px;
    background-color: #a781c1;
    border: solid thin #7f2c8f;
    padding: 11px 11px 0 11px;
}

.bookPannel div {
    text-align: center;
}

.divBookImage {
    padding-bottom: 11px;
}

.bookImage {
    cursor: pointer;
    height: 102px;
}
.bookPannelHeader {
    font-size: 14px;
    margin-bottom: 11px;
}