﻿header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--brucheumBlue);
    border-top: #40767d 4px solid;
    border-bottom: #decd6f 7px solid;
}

.classicColors {
    background-color: var(--brucheumHeaderBackgroundColor);
    border-top: var(--brucheumHeaderBoarderTop);
    border-bottom: var(--brucheumHeaderBoarderBottom);
}

.siteLogoContainer {
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}
.bannerImage {
    height: 55px;
    cursor: pointer;
}

.headerBodyContainer {
    float: left;
}

.headerTopRow {
    display: flex;
}

.headerBottomRow {
    display: flex;
    color: var(--brucheumSubTitleColor);
    margin-right: 25px;
}

.bottomRowSection1 {
    float: left;
    display: flex;
}
.loginArea {
    position: absolute;
    right: 20px;
}

.headerTitle {
    float: left;
    padding-left: 25px;
    font-family: 'Lucida Calligraphy';
    font-size: 25px;
}

.headerSubTitle {
    float: left;
    text-align: center;
    font-family: Comic Sans MS;
    color: var(--brucheumTitleColor);
    vertical-align: top;
    margin-left: 33px;
    margin-top: 2px;
    font-size: 23px;
}

    .headerSubTitle a {
        color: var(--brucheumTitleColor);
        cursor: pointer;
        text-decoration: underline;
    }


.menuTab {
    margin-top: 2px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}
    .menuTab :hover {
        font-family: Britannic;
        text-decoration: underline;
        background-color: #fef;
    }

.breadCrumbArea {
    margin-left: 20px;
}

.activeBreadCrumb {
    margin-left: 20px;
    cursor: pointer;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.replaceableMenuItems {
    margin-left: 55px;
}

.stickyHeader {
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    z-index: 10;
    /*    background: var(--brucheumBlue);*/
}

.bottomLeftHeaderArea {
    padding-right: 8px;
    float: left;
}

.badgesSection {
    display: flex;
    float: left;
}

.headerBannerButton {
    font-size: 15px;
    display: inline-block;
    border: solid 2px #000;
    border-radius: 10px;
    padding: 2.5px;
    color: #000;
    background-color: aliceblue;
    margin-left: 4px;
    margin-top: 4px;
    cursor: pointer;
}

    .headerBannerButton a {
        text-decoration: none;
    }

.badgeImage {
    height: 31px;
    margin-left: 9px;
    float: left;
    font-size: 16px;
    margin-bottom: 3px;
    cursor: pointer;
}

.calligraphyTitle {
    font-size: 28px;
    padding-right: 6px;
    padding-top: 1px;
    margin-right: 11px;
    margin-bottom: -10px;
    font-family: 'Lucida Calligraphy';
}

.bigMessageContainer {
    /*    
    top: 255;
    left: 522;
    height: 666px;
    width: 1111px;
*/
    padding: 0 70px 70px 70px;
    color: black;
    font-size: 18px;
    border-left: solid 12px var(--brucheumBorderColor);
    border-bottom: solid 12px var(--brucheumBorderColor);
    border-right: solid 12px var(--brucheumBorderColor);
    background-color: var(--brucheumBackgroundColor);
}

.bigMessageContainerTitle {
    height: 44px;
    padding-top: 5px;
    background-color: var(--brucheumBorderColor);
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.pleaseRegisterButton {
    display: inline;
    background-color: #c48ca2;
    border: solid .5px red;
    padding: 4px;
    font-size: 21px;
    cursor: pointer;
    text-decoration: underline;
}

.brucheumDialogContainer {
    position: absolute;
    z-index: 25;
    display: none;
    /* 
    min-width: 400px;
    box-sizing: unset;
    overflow: auto;
    */
    border: solid 2px var(--brucheumBorderColor);
    background-color: var(--brucheumBackgroundColor);
}

.siteLogo {
    height: 50px;
    cursor: pointer;
}

.hamburger {
    height: 50px;
    cursor: pointer;
}

.hdrTopRowMenu {
    font-size: 20px;
    display: inline-block;
    font-family: Comic Sans MS;
    color: var(--brucheumTitleColor);
    vertical-align: top;
    padding-left: 28px;
    margin-right: 8px;
    margin-top: 1px;
    padding: 0;
    cursor: pointer;
}

    .hdrTopRowMenu span:hover {
        text-decoration: underline;
    }

.hdrBtmRowOverflow {
    margin-left: 15px;
}

.topLinkRow a {
    color: var(--brucheumTitleColor);
    cursor: pointer;
    text-decoration: underline;
}

.brucheumSearchBox {
    position: absolute;
    right: 5px;
    margin-top: 8px;
    /*border: solid thin black;*/
}

.brucheumSearchBoxText {
    border-radius: 10px;
}

.searchResultsDropdown {
    display: none;
    background-color: #fff;
    border: solid thin black;
    padding: 2px;
    z-index: 200;
    max-height: 555px;
    overflow-y: auto;
}

    .searchResultsDropdown li {
        list-style-type: none;
        padding: 3px;
        cursor: pointer;
    }

        .searchResultsDropdown li:hover {
            color: red;
            cursor: pointer;
        }

.hoverTab {
    float: left;
    display: inline-block;
    margin-right: 15px;
}

    .hoverTab a {
        cursor: pointer;
        color: black;
        padding: 8px;
        text-decoration: none;
        padding: 5px 5px;
    }

        .hoverTab a:hover {
            text-decoration: underline;
            background-color: #fef;
        }

.activeBreadCrumb {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 20px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.domainMessage {
    display: inline-block;
    color: orangered;
    margin-left: 9px;
    margin-top: 20px;
    white-space: nowrap;
}

.floatingFlow {
    position: absolute;
    height: 100px;
    cursor: pointer;
}

.catDirTreeDialog {
    max-height: 555px;
    overflow: auto;
    top: 100px;
    left: 100px;
    width: 388px;
}

.centeringOuterShell {
    position: absolute;
    left: 50%;
    margin: 0;
}

.centeringInnerShell {
    position: relative;
    left: -50%;
    margin: 0;
}

.dialogContainer {
    position: absolute;
    top: 200px;
    z-index: 25;
    border: solid 2px var(--brucheumBorderColor);
    background-color: var(--brucheumBackgroundColor);
    display: none;
}

.dialogTitle {
    float: left;
    color: #fff;
    white-space: nowrap;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}

.dialogContents {
    padding: 11px 20px;
    min-width: 500px;
    min-height: 120px;
    /*padding: 4px 8px;*/
}


.dialogHeader {
    display: flex;
    background-color: var(--brucheumBlue);
    width: -webkit-fill-available;
    padding: 6px;
}
    .dialogHeader span {
        font-family: 'Lucida Calligraphy';
        color: #69387e;
        font-size: 22px;
        font-style: italic;
    }

.dialogCloseButton {
    float: right;
    padding-left: 11px;
    margin-top: 6px;
    margin-right: 4px;
    cursor: pointer;
}

    .dialogCloseButton img {
        height: 25px;
    }
