﻿<link href="Css/Footer.css" rel="stylesheet" />

<style>
    .bodyText {
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        text-align: justify;
    }
    .wrapImage {
        float: right;
        margin: 10px;
    }
    .philo {
        color: #be6d6d;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 50px;
        margin-right: 60px;
    }
</style>

<div class="bodyText">
    Relentless wind turns rain droplets into little spears.Razor ice crystals tear out your eyebrows.
    A shattering of frozen shards blasted the solitary mountain man backwards.
    I am a fox this lifetime, a lush artic cat nestled snugly here in a rocky
    crag watching a miserable

    <img class="wrapImage" src="https://img.ogglebooble.com/jogs/angryfather.jpg" align="middle" height="250">

    man below in the valley trudging
    mightily through a blizzard hail.<br style="font-size:20px;">Entering his mind not much was going on. He had entered survival mode. "Must Keep Walking".
    That's all he's got. A man learns a few things to survive very long in this northern land of ice and snow. To fall down on his knees and rest in the
    beckoning soft snow was to die. The body would lose heat too quickly, the drifts would quickly cover you over. "Must keep Walking".
    And don't trust the sun.

    Low on the horizon here above the Artic Circle
    the pale distant star offered only the merest of light. The Sun does not rise and set here as in more habitable lands. There is no sense of east and west.
    The Sun simply floats lazily along the horizon, never setting but never much rising either. To follow the sun as directional guide is to meander
    around in loopy circles, assuring death.
    <p>
    Although formidable, Rosbesh was not the biggest of men.
    However, he had managed to live a long time, which itself was something.
    At almost forty years of age, he had already lived twice as long as most.
    "I know this man." The artic fox said to no one in particular "As
    the narrator of this chapter, just thought you'd like to know. His name is R, not that there are any people he knows to call him that. He does have a wife and two
    kids though In his younger years he did have some friends. Two of them. They would run around in the woods and hunt and steal and generally try to cause as much
    trouble as possible. One day one of his friends spotted me resting on a high rock. Hearing some rustling I casually turned my head and saw him rushing to capture
    me. Before I felt the need to scurry, the boy lost his footing on an ice covered rock and slipped. I caught his eyes for an instant before he tumbled down a cliff
    and cracked his head open.
    <br />
    <div class="philo">
        Thousands of miles away Philo of Alexandria gave the stink eye to his so called friend S.
        Philo. You say you're the smartest man in the world. Tell me, what's the distance between one and two?
        I don't care for your stupid riddles. The answer is one. The world has some absolute values no matter what confusion you wish to introduce.
        Correct. The answer is one. Now tell me how many numbers are there between one and two.
        There are no numbers between one and two.How about one and a half or one and a quarter?Ok. And they would be expressed as one point five and one point two five."
        Philo knew this so, trying to keep up, he mentioned the extraneous.And you could say one point zero zero zero one. And you could say one dot followed by a million
        million zeros and one.<br>So... the distance between one and two, or at least the number of fractional units possible between one and two is infinite.
        <br>Philo scowled, but the
    </div>
    <br>How long is an instant? As a fox I live at a higher frequency than humans. For
    what you consider a minute lasts about twenty times longer. But this means my passes by much quicker. Still, my material is made up of spinning atomic
    just like you. each atom with an electron solar spinning around so fast as to seem a blur.When that boy locked eyes
    with mine as he exited the gene pool, entire years seemed to pass by. Maybe like comparing the time it takes a fizzing molecule to pop in you sparkling
    drink to the time it will take the neighboring Andromeda to pass through our milky way.
    His young wife waited for him in the cold and only put some more peat on the fire when he arrived.
    No reason to attract undue attention from the smoke when he wasn’t there anyway.
    Their two children huddled dopily, wrapped in skins on the straw. Rosbesh burst through the well sealed and highly camoflogued door and struggled
    to quickly re-close it as the blustering wind strove to evacuate all the warmth that had been sealed in his tiny dirthovel. Karish, the wife smiled
    at him.Rosbesh merely inhaled through his nose freeing a mass of thawed phlegm whichhe expelled in a loud grunt onto the packed mud wall. He glanced
    over at his listless children, an older girl and a boy of eight or nine seasons, both with white blonde hair andcobalt blue eyes. They wrapped theirknees
    protectively near their chins, and stared at him wide eyed, anxious tosee what meat his traps might have yielded, but ever uncertain of their father’s mood.
    Seeing them napping there like vegetables doing nothing more than taking up spaceseemed to anger him. Never mind that iswas minus twenty degrees outside,
    and the wind was howling furiously. “Kids these days!” Rosbesh thought. “All they do is sit around and wait to befed. Why don’t they ever get out and do
    something? Why in my day…” Karish picked up the sack her husband haddropped and greedily uncover the duck he had recovered from one of histraps. She began
    to titter and hum andset about preparing a meal. The childrentook brief interest but showed no signs of making any effort to help theirmother. At this Rosbesh
    snarled. “Unappreciative!” How he hated sensing his best efforts gounappreciated. He picked up his stickand started a loathing vent. Then hestarted roaring in
    such a way as to make it clear that he wanted the childrento go outside.Their mother was horrified. Any threat to thesafety of her babies elicited her most
    primal response, but fear of Rosbesh andher and her children’s utter dependence on him for their existance, prevailed.Plus, the kids had been kind of getting on
    her nerves too. Before they could even get themselves well bundled, Rosbesh made it clear that it would be prudent forthem both to make use of the front door
    immediately.Swan, his daughter, revealed as she wasroused from the warmth of the straw bed, that she was rapidly taking on thes hape of woman and was already
    being visited on by the curse. Rosbesh notedthis with unconcealed disgust. “What awaste, a female child!” Her legs werelong and her arms seemed just as long.
    Like a gangly spider she sprawled and stumbled about, having been in no way prepared to be flushed from her cozy nest.Out she and her brother stumbled, her
    arms raised high as she attempted to slip througha fur coat like wrap. The awkward pose exposed the full riches of her body as she dumped out the door on top
    of her brother who was already struggling to get back in. Before she was even all the way through the door, Gart pushed her back through with unpresidented
    force, but it was to late. Rosbesh’s eyes erupted with rage, but before he could let out the torrent, one word from Gart changed everything. Strangers. He
    said with sincere authority, as well ascomplete desperation and panic.Karishlept towards her daughter and wrapped her in her arms and carried her back tothe
    bed before Gart had finished his one word report. Rosbesh clenched hisstick and crept to the door in a crouch to peer out between the pelts. Dead ahead in the
    clearing stood a heavilydressed man at least 20 years old. Behindhim in the woods was what seemed the shape of at least one other full grownman. It was clear
    they had seen thatthere was a virginal young female in the warm smoking hovel they had stumbledupon. Every ounce of blood flowingthrough their huge bodies now
    possessed a solitary focus.Therehad been stories of people who risen slightly above a daily subsistence levelexistence. They had accumulated items ofwealth and
    even beauty. Each time,however, at least so far, in other words for the last nine hundred thousandyears, each time one man had managed to build something up
    over and abovenomadic trinkets, stronger, younger, more aggressive men managed to attack, andtear it down. It was harsh, violentblood that survived in these
    frigid lands.Chances to pass one’s seed on to the nextgeneration was not an everyday opportunity.Most days were spent focusing on more elemental survival
    needs such asfood and shelter.Even still, and forreasons not even clear to the participants being driven by those forces, the tremendously powerful will
    that this bareskinned species had to survive could not match the urge to practice the act ofpassing on one’s seed. Not even thehorrendous forces nature
    unleashed upon these frozen crags of ice could in anyway temper the chemicals that had been unleashed in these young men.The twostrange men came crashing
    through the door into the one room hut of old manRosbesh. From the wall behind the doorRosbesh took his stick and shoved the thyroid gland in the first
    young man’sneck deep into his throat. Karish waitedwith a cooking pot in her had that glowed from the fire. The second man tried to block the swing to his
    face with his hands on which instantly raised awfull welts. Rosbesh tookhis stick and shoved it deep into the small of the man’s back deflecting himaway
    from his wife. Then he smacked himin the ear with a biting whack. The twostrangers rushed back from the house as quickly as they had come in.Therewas no
    victory celebration in Rosbesh’s house.Dinner was eaten in cold, anxious silence. Outside the two angry marauders were lickingtheir wounds and, as was the
    supreme forte of their race, planning a morecogent strategy than their first attempt, now that they had discovered that twoyoung children don’t always live
    alone in a house deep in the woods.Severalhours later Rosbesh looked outside again.This time he could sense that there were now more than two strangers.
    Rosbesh knew he would loose. There wasno civil justice in this world, no society, no community. There was no police force, and there was verylittle that
    lasted from one generation to another. There were no laws, except one; survival ofthe strongest. Karish looked at her husbandwith the look of complete
    blame only a wife can deliver. It was his stupidity pushing her babies outof her nest that had brought on this calamity. Rosbesh glared back at her
    attempting to defeat her young eyes which he had never had any problem doing soin the past. This time she held hisstare effortlessly, the contempt
    in her eyes only growing. Rosbesh lookedaway. This was no time to confront awoman.Womenneeded men but only if they could protect them.A pretty young
    woman would sometimes stay with two or three men. They would share her. This might afford her extra protection aswell as require from her extra work.
    Butsuch arrangements were unstable. Usuallythe men would kill each other off until only one was left with the woman. Brothers often might share a woman.
    But, brothers were also the most likely totry to kill each other to get sole possession of a wife. There was only safety in the family unit.Rosbesh had
    no brother and his two sisters were both taken by a man with a bandof fighters who called himself Krugn.Both Rosbesh’s parents were killed in the process.
    Rosbeshwandered the forest and somehow became a part of a loosely organized horde ofyoung men who owed their association to that they were given fish and
    beer by asemi-merchant in a costal villiage. Inreturn he was expected to a) not attack his village, and b) help protect himfrom harrasment from others,
    including Krugn.That was almost thirty years ago, many lives ago, many wives ago.Rosbeshhad met Karish, his current wife only a few years ago. He had
    long ago learned to hunt and trap andkeep himself alive in his bitter land of ice.Success had led to an actual surplus, a long unfamiliar measure of wealth.
    This resulted in his taking towandering into a fishing village on the coast where, so long as he shared hissurplus skins and meat, there was a hall that
    served mead where he waswelcome. It was here he learned aboutplans to loot and raid another settlement which had been discovered a few milesaway.
    Rosbesh had no interest in the raid other than that he felt vaguelyresponsible for he seemed to remember that it was he who first revealed the existence
    of this settlement to mead drinking members of this community. In retrospect, a vicious raid could be theonly expected result. knew of hervillage
</div>





<footer>
    <div class="flexContainer">
        <div class="footerCol">
            <div><a href="~/Home/Index">Articles</a></div>
            <div><a href="~/Book/MyBooks">Books</a></div>
            <div><a href="~/IntelDsgn/Index">Professional</a></div>
            <div><a href="#">Apps</a></div>
        </div>
        <div class="footerCol">
            <div><a href="#">About us</a></div>
            <div><a href="mailto:curtishrhodes@hotmail.com">Love Letters</a></div>
            <div><a href="mailto:curtis,rhodes@gmail.com">Death Threats</a></div>
            <div><a href="#">Archive</a></div>
        </div>
        <div class="footerCol">
            <div><a href="#">Site Map</a></div>
            <div><a href="#">Search</a></div>
            <div><a href="#">Research</a></div>
            <div><a href="#">Advertize</a></div>
        </div>
    </div>
    <div class="footerFooter">
        <div id="footerMessage"></div>
        <div id="copyright">&copy; @DateTime.Now.Year - <a href="~/IntelDsgn/Index">Intelligent Design SoftWare</a></div>
    </div>
</footer>
