﻿
:root {
    --brucheumBlue: #74bac3;
    --oggleBackgroundColor: #c1bad1; /*#fef;  #f7eef7  #b081b1 #f8e8e8 */
    --oggleContainerBackgroundColor: #93b798; /* #bc61e4; #d1f5f3; #f8e8e8 */
    --oggleDialogBackgroundColor: #c4c6ae;
    --oggleBorderColor: #b200ff; /* #f1cff7;*/
    --ogglePurple: #79078f;
    --normalFont: 15px;
    --ogglgeTextColor: #000;
    --oggleTitleColor: #7f2c8f;
    --ogglgeSubTitleColor: #490157;
    --thumbnailBorderColor: #74bac3; /* hot pink #ff00dc   */
    --ogglgeHeaderBarColor: #decd6f; /*#c79bbe*/
    --oggleHeaderBoarderTop: #40767d 3px solid;
    --oggleHeaderBackgroundColor: #74bac3;
    --oggleHeaderBoarderBottom: #decd6f 11px solid;
    --oggleHeaderSelectBackgroundColor: #74bac3;
    --oggleContainerFooterColor: #d1f5f3;
    --flitterYellow: #fbf0b4;
    --opaqueImageLabel: rgba(178, 0, 255, 0.46);
    --oggleLabelColor: #b200ff;
}

body {
    background-color: var(--oggleBackgroundColor);
    font-family: Verdana;
    font-size: var(--normalFont);
}

.threeColumnLayout {
    /*width: 100%;*/
    background-color: var(--oggleBackgroundColor);
    display: flex;
}

    .threeColumnLayout .leftColumn {
        float: left;
        min-width: 1%;
    }

    .threeColumnLayout .middleColumn {
        float: left;
        width: 100%;
        height: inherit;
        max-height: inherit;
    }

    .threeColumnLayout .rightColumn {
        float: left;
        min-width: 1%;
    }

.pornBodyColors {
    background-color: #ffcccc;
}




.centeringOuterShell {
    position: absolute;
    left: 50%;
    margin: 0;
}
.centeringInnerShell {
    position: relative;
    left: -50%;
    margin: 0;
}

.roundedDialog {
    padding: 6px;
    /* font-size: 18px;*/
    border-radius: 6px;
}

.center {
    text-align: center;
}

.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 19; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.roundendButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    padding: 2px;
    color: #555;
    margin-bottom: 2px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}
.requiredField {
    font-size: 15px;
    color: red; /*var(--ogglePurple);*/
    cursor: pointer;
    margin-top: 14px;
}

.marksLeftColumn {
    background-color: #F28396;
    font-size: 24px !important;
    color: #fff !important;
    font-family: 'Lucida Calligraphy';
}

.leftColumnList {
    display: none;
    margin-top: 123px;
    padding-right: 36px;
}
    .leftColumnList div {
        font-size: 17px;
        cursor: pointer;
        color: #9a4ea9;
        margin: 12px 9px;
        white-space: nowrap;
    }
        .leftColumnList div:hover {
            text-decoration: underline;
            color: #333;
        }

.galleryCheckBoxContainer {
    margin: 8px;
}
.galleryCheckBox {
    
}

.floatingDirTreeImage {
    position: absolute;
    display: none;
    z-index: 102;
}

    .floatingDirTreeImage img {
        /*border: solid thin ;*/
        border: solid 2px var(--oggleBorderColor);
        height: 100px;
        width: 100px;
    }

.floatingDirTreeContainer {
    position: absolute;
    border: solid 2px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
    display: none;
    max-height: 450px;
    overflow-y: auto;
    right: 50px;
    top: 130px;
    z-index: 5;
}

.moveManyDirTreeContainer {
    right: 450px;
}

.footer {
    margin-top: 4px;
    border-top: solid 4px #feb236;
    font-family: Arial;
    background-color: #333;
    color: #eee;
}

    .footer .footerCol {
        padding-top: 8px;
        float: left;
        min-width: 200px;
    }

        .footer .footerCol div {
            padding: 8px;
            text-align: center;
        }

            .footer .footerCol div a {
                text-decoration: none;
                color: #fff;
            }

.rightMostfooterColumn {
    width: 100%;
}

.rightMostColCustContainer {
    padding-top:22px;
    padding-right: 33px;
    text-align: right;
}
    
.footerColCustContainer {
    text-align: center;
    padding: 0;
}

.footerFooter {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #212121;
    padding-bottom: 2px;
}
    .footerFooter div {
        display: inline-block;
        padding-left: 12px;
    }
.footer #copyright {
    display: inline-block;
    float: right;
    margin-right: 8px;
}
    .footer #copyright a:visited {
        color: #eee;
    }

.roundendButton {
    display: inline-block;
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.inline {
    display: inline-block;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.displayHidden {
    display: none;
}

.overflowContainer {
    border: solid thick red;
    width: 942px;
    overflow-x: scroll;
}

.flexContainer {
    display: flex;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.btnSpinner {
    margin-top: 66px;
}

.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}
.loadingGif {
    position: absolute;
    left: 150px;
    top: 140px;
    height: 110px;
    z-index: 31;
    display: none;
}

    .loadingGif img {
        height: 15px;
    }

.containerloadingGif {
    position: relative;
    left: 50px;
    top: 20px;
    height: 80px;
    display: none;
}













.settingsConsole {
    margin-top: 33px;
    margin-left: 24px;
    display: inline-block;
    border: solid 2px black;
    background: var(--oggleContainerBackgroundColor);
}

.settingsConsoleHeader {
    border: none;
    text-align: center;
    background: var(--brucheumBlue);
}

.settingsConsoleInputsContainer {
    display: inline-block;
    border: none;
    padding: 4px;
}

.flitterLabel {
    display: inline-block;
    width: 160px;
    text-align: right;
    padding: 4px;
}

.flitterButton {
    padding: 4px;
}

.assuranceArrows {
    float: left;
    cursor: pointer;
    width: 50px;
}

.shaddowBorder {
    border-top: 5px solid rgba(130, 101, 101, 0.6);
    border-left: 5px solid rgba(130, 101, 101, 0.6);
    border-right: 15px solid rgba(130, 101, 101, 0.6);
    border-bottom: 25px solid rgba(130, 101, 101, 0.6);
    border-radius: 4px;
}

.canIgetaConnectionMessageContainer {
    z-index: 20;
}

.divRefreshPage {
    background-color: var(--oggleDialogBackgroundColor);
    font-size: 24px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
.blogCrudArea {
    border: solid thin var(--oggleBorderColor);
    padding: 5px;
}


.ogglePromoText {
    background-color: var(--oggleDialogBackgroundColor);
    font-size: 18px;
    padding: 6px 6px 0 6px;
    text-align: justify;
}

.tinyDots {
    background-color: var(--oggleDialogBackgroundColor);
    text-align: right;
    cursor: pointer;
}

.dirTreeNode {
    white-space: nowrap;
}
.selectedDirTreeNode {
    background-color: #dcd7be; /* #b2e5eb; */
}

.stepchildTreeLabel {
    display: inline !important;
    color: #878080;
}

.treeLabelDiv {
    display: inline;
}

/*.pinkStarBackground {
    background-image: url('images/pinkStarsWalllpaper02.jpg');
}*/

.catlyn {
    background-image: url('https://edge206.stream.highwebmedia.com/live-hls/amlst:caylin-sd-8937ba6912ed937e04b8db696878e971b081d644ba83cba4e9b73d5e0af1e0f6_trns_h264/playlist.m3u8');
}

.floatingFeedbackButton {
    position: fixed;
    bottom: 80px;
    right: 5px;
    padding: 11px;
    cursor: pointer;
    background-color: var(--brucheumBlue);
    border-radius: 8px;
}

.feedbackRadioButtons {
    padding: 4px;
}
.feedbackRadioButtons span {
    margin-right: 14px;
}
.feedbackEmailInput {
    width: 100%;
}

.flexbox {
    width: 100%;
    display: -webkit-flex;
}
    .flexbox input {
        width: 100%;
    }

.floatingDialogBox {
    display: none;
    position: absolute;
    min-height: 200px;
    min-width: 500px;
    padding: 3px;
    border: solid 3px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
    z-index: 10;
}

.dialogDirTreeButton {
    height: 25px;
    cursor: pointer;
    margin-left: 1px;
}

.underline {
    text-decoration: underline;
}

.robotWarning {
    padding: 4px;
    background-color: #ff3333;
    color: #000;
}