﻿

.sectionLabel {
    color: var(--oggleTitleColor);
    white-space: nowrap;
    display: inline-block;
    display: none;
    /*
        font-size: larger;
        position: relative;
        border: solid thin red;
    */
}
    .sectionLabel:hover {
        text-decoration: underline;
    }

.testFunctionLabel {
    white-space: nowrap;
    display: inline-block;
    display: none;
    margin-bottom: 6px;
    cursor: pointer;
}

.loadingImage {
    height: 233px;
}

.playboyShell {
    background-color: #000;
    margin: 10px;
    border: solid gold 4px;
    border-radius: 20px;
}

.indexPageHappyMessage {
    display:block;
    margin-top:20px;
}

.promoContainer {
    position: absolute;
    top: 140px;
    left: 66px;
    border: solid 5px var(--oggleBorderColor);
    border-radius: 5px;
    width: 344px;
    display: none;
}
.ogglePromoTitle {
    font-size: 22px;
    text-align: center;
    background-color: var(--ogglgeHeaderBarColor);
}
.ogglePromoText {
    /*    background-color: var(--oggleContainerBackgroundColor);  */
    max-height: 222px;
    overflow-y: auto;
}
.ogglePromoKillMessage {
    position:relative;
    border:solid .5px black;
    padding: 3px;
    font-size: 18px;
    background-color: var(--oggleBackgroundColor);
    display: none;
}
/*
    .ogglePromoContainer {
    background-color: var(--ogglgeHeaderBarColor);
    position: absolute;
    top: 250px;
    right: 40px;
    width: 300px;
    border: solid 3px #4b0d41;
    font-size: 22px;
    text-align: center;
    display: none;
}
*/
.indexPageSection {
    margin-top: 26px;
    width: 100%;
    /*    display: flex;*/
    overflow: auto;
    min-height: 40%;
    color: var(--oggleTitleColor);
    /*border: solid 10px orange;*/
}
.randomGalleriesSectionContainer {
    margin-top: 8px;
    /*    border: solid 4px #a7984d;*/
    display: none;
    margin-bottom: 8px;
    text-align: center;
}

.updatedGalleriesSection {
    float: left;
    text-align: center;
    height: inherit;
    max-height: inherit;
    /*
        padding: 3px;
        background-color: #988519;
        background-color: var(--oggleContainerBackgroundColor);
    */
}

.newsContentBox {
    display: inline-block;
    margin: 2px;
    background-color: #3b0e56;
}

.newsContentBoxLabel {
    position: absolute;
    display: inline-block;
    padding: 1px 12px 2px 30px;
    padding: 2px;
    background-color: var(--opaqueImageLabel);
    color: #d6fcfa;
}

.newsContentBoxImage {
    height: 172px;
    cursor: pointer;
}

.newsContentBoxDateLabel {
    position: relative;
    bottom: 2px;
    color: #d6fcfa;
    background-color: #686666;
}

.floatBelow {
    margin-top: 559px;

}

.slideshowCheckboxes {
    position: absolute;
    bottom: 1px;
    right: -41px;
}
