﻿.stickyHeader {
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    z-index: 10;
/*    background: var(--brucheumBlue);*/
}

.boobsHeader {
    background: var(--brucheumBlue);
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid;
}
.playboyHeader {
    background-color: #000;
    color: #bbbd1d;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 11px solid;
}
    .playboyHeader .inactiveBreadCrumb {
        color: #d47979;
    }
    .playboyHeader .hdrTopRowMenu {
        color: #bbbd1d;
    }

.pornHeader {
    background-color: #cab37e;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 11px solid;
}

.oggleSoft {
    background-color: #cc7d5f; /*orangy*/
    border-top: #40767d 3px solid;
    border-bottom: #407d6e 5px solid;
}

.headerBodyContainer {
    float: left;
    width: 100%;
}

.headerTopRow {
    display: flex;
    width: 100%;
}

.headerBottomRow {
    width: 100%; 
    display: inline-block;
}
.bottomRowSection1 {
    float: left;
    display: flex;
}
.bottomLeftHeaderArea {
    padding-right: 8px;
    float: left;
}
.badgesSection {
    display: flex;
    float: left;
}
.loginArea {
    font-family: Arial;
    margin-right: 25px;
    margin-top: 4px;
    float: right;
}
.breadCrumbArea {
    float: left;
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;
    cursor: pointer;
}
.headerBannerButton {
    font-size: 15px;
    display: inline-block;
    border: solid 2px #000;
    border-radius: 10px;
    padding: 2.5px;
    color: #000;
    background-color: aliceblue;
    margin-left: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.headerBannerButton a {
    text-decoration: none;
}

.badgeImage {
    height: 31px;
    margin-left: 9px;
    float: left;
    font-size: 16px;
    margin-bottom: 3px;
    cursor: pointer;
}
 .blackCenterfoldsBanner {
        border: solid 2px red;
        border-radius: 10px;
        padding: 3px;
        white-space: nowrap;
        text-decoration: none;
        background-color: #407d6e;
    }

    .blackCenterfoldsBanner a {
        color: yellow;
    }

.calligraphyTitle {
    font-size: 28px;
    padding-right: 6px;
    padding-top: 1px;
    margin-right: 11px;
    margin-bottom: -10px;
    font-family: 'Lucida Calligraphy';
}

.classicColors {
    background-color: var(--oggleHeaderBackgroundColor);
    border-top: var(--oggleHeaderBoarderTop);
    border-bottom: var(--oggleHeaderBoarderBottom);
}


.dialogContainer1 {
    padding: 10px;
    color: black;
    font-size: 18px;
    border: solid 4px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
}

.bigMessageContainer {
    /*    
        top: 255;
        left: 522;
        height: 666px;
        width: 1111px;
    */
    max-height: 500px;
    overflow: auto;
    padding: 0 70px 70px 70px;
    color: black;
    font-size: 18px;
    border-left: solid 12px var(--oggleBorderColor);
    border-bottom: solid 12px var(--oggleBorderColor);
    border-right: solid 12px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
}

.bigMessageContainerTitle {
    height: 44px;
    padding-top: 5px;
    background-color: var(--oggleBorderColor);
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.pleaseRegisterButton {
    display: inline;
    background-color: #c48ca2;
    border: solid .5px red;
    padding: 4px;
    font-size: 21px;
    cursor: pointer;
    text-decoration: underline;
}

.oggleDialogContainer {
    position: absolute;
    z-index: 25;
    display: none;
    /* 
    min-width: 400px;
    box-sizing: unset;
    overflow: auto;
    */
    border: solid 2px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
}
.oggleDialogHeader {
    border: none;
    background-color: var(--brucheumBlue);
    color: #fff;
    display: inline-flex;
    width: 100%;
    cursor: grabbing; 
}
.oggleDialogTitle {
    float: left;
    padding: 2px 8px;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
}
.oggleDialogCloseButton {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
    cursor: pointer;
}
    .oggleDialogCloseButton img {
        height: 25px;
    }
.oggleDialogContents {
    padding: 5px;
    height: 100%;
    color: #000;
    min-width: 500px;
    min-height: 120px;
    /*padding: 4px 8px;*/
}

.siteLogoContainer {
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}
/*
//$('#divSiteLogo').css("height", "50px");
//$('#bannerTitle').css("height", "20px");
//$('#mainMenuContainer').css("font-size", "20px");
//$('.headerBannerButton').css("font-size", "12px");
*/
.siteLogo {
    height: 50px;
    cursor: pointer;
}
.hamburger {
    height: 50px;
    cursor: pointer;
}

.hdrTopRowMenu {
    font-size: 20px;
    display: inline-block;
    font-family: Comic Sans MS;
    color: var(--oggleTitleColor);
    vertical-align: top;
    padding-left: 28px;
    margin-right: 8px;
    margin-top: 1px;
    padding: 0;
    cursor: pointer;
}
.hdrTopRowMenu span:hover {
    text-decoration: underline;
}

.hdrBtmRowOverflow {
    margin-left: 15px;
}

.topLinkRow a {
    color: var(--oggleTitleColor);
    cursor: pointer;
    text-decoration: underline;
}

.oggleSearchBox {
    position: absolute;
    right: 5px;
    margin-top: 8px;
    /*border: solid thin black;*/
}

.oggleSearchBoxText {
    border-radius: 10px;    
}

.searchResultsDropdown {
    display: none;
    background-color: #fff;
    border: solid thin black;
    padding: 2px;
    z-index: 200;
    max-height:555px;
    overflow-y: auto;
}

    .searchResultsDropdown li {
        list-style-type: none;
        padding: 3px;
        cursor: pointer;
    }
        .searchResultsDropdown li:hover {
            color: red;
            cursor: pointer;
        }

.hoverTab {
    float: left;
    display: inline-block;
    margin-top: 1px;
    border-radius: 5px;
}
    .hoverTab a {
        cursor: pointer;
        color: black;
        padding: 8px;
        text-decoration: none;
        padding: 5px 5px;
        border-radius: 1px;
    }
    .hoverTab a:hover {
        text-decoration: underline;
        background-color: #fef;
    }

.activeBreadCrumb {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 20px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.bigTits {
    font-size: 28px;
    color: #000;
    font-family: 'Bauhaus 93';
    /*
        color: #ff00dc;
        color: var(--thumbnailBorderColor); #74bac3;
    */
}

.everyCenterfold {
    font-size: 22px;
    font-family: 'Comic Sans MS';  /*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}


.domainMessage {
    display: inline-block;
    color: orangered;
    margin-left: 9px;
    margin-top: 20px;
    white-space: nowrap;
}


.babesArchive {
    margin-top: 5px;
    margin-left: 20px;

    border: solid thin #444;
    padding: 3px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 18px;
    color: var(--oggleTitleColor);    
}

.floatingFlow {
    position: absolute;
    height: 100px;
    cursor: pointer;
}

.catDirTreeDialog {
    max-height: 555px;
    overflow: auto;
    top: 100px;
    left: 100px;
    width: 388px;
}
