﻿
.twoColumnFrame {
    border: solid thin var(--oggleBorderColor);
}

.blogDropdown {
    width: 333px;
}

.maxWidth {
    float: left;
    width: -webkit-fill-available;
}

.oggleInput {
    padding: 2px;
    color: #555;
    margin-bottom: 2px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 88%;
}


.blogCrudArea {
    display: flex;
    margin-top: 10px;
    padding: 4px;
}

.blogEditAreaColumn1 {
    float: left;
    width: 89%;
}
.blogEditAreaColumn2 {
    float: left;
    border-left: solid thin #b748cc;
}

.blogDisplayArea {
    vertical-align: top;
    margin-top: 10px;
}

.rightBlogEditPane {
    background-color: #f1e398;
}

.crudLabel {
    min-width: 45px;
    margin-right: 4px;
    margin-left: 7px;
}

.leftImage {
    border: solid .05px var(--oggleBorderColor);
    height: 130px;
    min-width: 120px;
    margin-left: 10px;
}

.blogLeftColumn {
    margin-top: 100px;
}

.blogEditButton {    
    white-space:nowrap;
    margin-left: 5px;
    margin-bottom: 22px;
    padding: 4px;
    cursor: pointer;
}
    .blogEditButton:hover {
        text-decoration: underline;
    }

.blogItemContainer {
    overflow-y: auto;
    width: 100%;
}

.blogListItem {
    padding: 3px 24px;
    cursor: pointer;
    margin: 4px;
    white-space: nowrap;
    background-color: var(--oggleContainerBackgroundColor);
}
    .blogListItem:hover {
        background-color: #c5f6f7;
    }

.blogArticleJogContainer {
    display: block;
    border: solid .05px var(--oggleBorderColor);
    overflow-y: auto;

}

.blogArticleJogBody {
    /*display: inline-block;*/
    /*background-color: var(--oggleContainerBackgroundColor);*/
    width: 100%;
}

.blogArticleJog {
    margin-bottom: 4px;
    margin: 2px;
    border: solid thin green;
}

.blogArticleImage {
    height: 222px;
}

.blogArticleTitle {
    display: block;
    font-size: 24px;
    text-align: center;
}

.blogArticleJogImage {
    height: 185px;
    margin: 2px;
    border: solid thin var(--oggleContainerBackgroundColor);
    width: 222px;
    cursor: pointer;
}

.blogArticleText {
    padding: 4px;
    display: inline-block;
    height: 124px;
    overflow-y: hidden;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blogArticleBottomRow {
    margin: 0 8px;
}

.singleBlogEntryContainer {    
    background-color: var(--oggleContainerBackgroundColor);
    border: solid thin black;
    padding: 6px;
    overflow-y: auto;
}

.blogPageSubHeader {
    text-align: center;
    font-size: 25px;
    margin: 11px;
}

.blogPageImageContainer {
    text-align: center;
}

.largeCenteredImage {
    max-height: 233px;
}

.blogPageBodyText {
    margin-top: 7px;
    padding: 4px;
    text-align: justify;
}
